:root {
  --animation-speed: 0.9s;
}

.section {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.section-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1360px;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  /* transition: background-color 0.3s ease-in-out; */
}

@media only screen and (max-width: 1024px) {
  nav.active {
    height: 100vh;
    background-color: white;
    color: black;
  }
  nav.active .logo {
    background-image: url("../imgs/CLC+SOLUTION+V2+LOGO+GREY+TRANSPARENT+site+web.png");
  }
}

.nav-scrolled .logo {
  background-image: url("../imgs/CLC+SOLUTION+V2+LOGO+GREY+TRANSPARENT+site+web.png");
}

.nav-scrolled {
  background-color: white;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.scroll-watcher {
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.hero {
  min-height: 90vh;
  background-image: url("../imgs/pexels-zukiman-mohamad-87236.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
}

.hero:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.6;
  background: #000;
}

.slide-in {
  animation: slide-in var(--animation-speed) ease-in-out forwards;
}

.slide-down {
  animation: slide-down var(--animation-speed) ease-in-out forwards;
}

.slide-up {
  animation: slide-up calc(var(--animation-speed) * 1.1) ease-in-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.logo {
  margin-top: 9px;
  height: calc(89.76px / 1.5);
  width: calc(200px / 1.5);
  /* background-color: white; */
  background-image: url("../imgs/MicrosoftTeams-image.png");
  background-size: cover;
  background-position-y: center;
  background-position-x: left;
}

.links.square {
  width: calc(89.76px);
  justify-content: center;
}

#services .img {
  background-size: cover;
}

#majors {
  background-image: url("../imgs/Exploration-for-oil-and-gas-is-very-expensive-and-risky.jpg");
}

#sme {
  background-image: url("../imgs/taylor-grote-LqkFX2Km1a0-unsplash.jpg");
}

#institution {
  background-image: url("../imgs/marco-oriolesi-wqLGlhjr6Og-unsplash.jpg");
}
